.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out, background-color 0.2s ease;
  mix-blend-mode: difference;
  z-index: 99999; /* Supaya tidak tertutup elemen lain */
}

.custom-cursor-hover {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%) scale(1.2);
}
